// Created by skiff
package controller

import (
	"github.com/gofiber/fiber/v2"
)

{{ $name := capitalize .name -}}
{{ $firstLetter := .name | first | lower -}}
var _ Controller = (*{{$name}}Controller)(nil)

type {{$name}}Controller struct {
}

func ({{$firstLetter}} *{{$name}}Controller) Method() string {
	return "{{.method}}"
}

func ({{$firstLetter}} *{{$name}}Controller) Path() string {
	return "{{.path}}"
}

func ({{$firstLetter}} *{{$name}}Controller) Handle(ctx *fiber.Ctx) error {
  return ctx.SendString("hello from {{.name}}")
}
