package controller

import (
	"net/http"

	"github.com/gofiber/fiber/v2"
)

var _ Controller = (*{{capitalize .name}}Controller)(nil)

type {{capitalize .name}}Controller struct {
}

func (h *Hello) Method() string {
	return "{{.method}}"
}

func (h *Hello) Path() string {
	return "{{.path}}"
}

func (h *Hello) Handle(c *fiber.Ctx) error {
  return c.SendString("hello from " + {{.name}})
}
